<h1>New Limerick</h1>

<%= bootstrap_form_with model: @limerick, url: limericks_path, method: :post, data: { turbo: false } do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :limerick_text %>
  <%= f.submit %>
<% end %>
